// 色
$lightGrayAlpha: rgba(249, 249, 249, 0.8);
$lightGraySolid: #eeeeee;
$blue: #007aff;
$errorColor: #ff5555;
$baseFontColor: rgba(19, 19, 19, 0.7);
$sidebarWidth: 248px;
$mainBackgroundColor: #f8f8f8;

// memo: chromeのタブとブックマークバーの高さの合計が120pxくらい。レスポンシブ実装の際の参考に。
