.add_delete_button {
  margin-top: 6px;
  margin-left: 16px;
  padding: 1px 8px 4px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  height: 24px;
  width: 24px;
}
